* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fira Code", serif;
}

#calculator {
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #5f6062;
    padding: 2px;
    z-index: 0;
    background-color: black;
    border-radius: 8px;
    color: white;
}

h2 {
    padding-left: 8px;
    margin-top: 8px;
    margin-bottom: 18px;
    font-size: 34px;
}

#calculator__display-operator {
    width: calc(100% - 4px);
    height: 22px;
    color: white;
    text-align: right;
    font-size: 18px;
    padding-right: 8px;
}

#calculator__display-number {
    width: calc(100% - 4px);
    padding: 4px;
    margin: 4px auto 4px auto;
    font-size: 40px;
    color: white;
    text-align: right;
    border: 1px solid orange;
    border-radius: 4px;
    overflow: hidden;
    word-wrap: break-word;
}

#calculator__keys table {
    width: 100%;
    z-index: 1;
}

#calculator__keys table td {
    text-align: center;
    width: calc(100% / 4);
    height: 48px;
    border-radius: 2px;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

#calculator__keys table td button {
    color: white;
    background-color: gray;
    border-radius: 2px;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 16px;
}

#calculator__keys table td button:hover {
    background-color: dimgray;
}

#calculator__keys table td button.bg--reverse {
    background-color: dimgray;
}

#calculator__keys table td button.bg--reverse:hover {
    background-color: gray;
}

#calculator__keys table td button:active,
#calculator__keys table td button.bg--reverse:active {
    background-color: darkgray;
}

#calculator__keys table td button#key--equal {
    background-color: orange;
}

#calculator__keys table td button#key--equal:hover {
    background-color: darkorange;
}

#calculator__keys table td button#key--equal:active {
    background-color: orange;
}

