<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<aside class="navbar mt-1 px-2 sidebar bg-dark-subtle rounded-top float-start" th:fragment="sidebar">
    <ul class="navbar-nav flex-column mt-1">
        <li class="nav-item">
            <a class="nav-link active" th:href="@{/furama-resort/employee}">Danh sách</a>
        </li>
    </ul>
</aside>

<section th:fragment="createAndUpdate">
    <div class="modal fade" id="modal-create-update-employee" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="modal-create-update-employee" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modal-label">Title</h1>
                    <button type="button" class="btn-close btn-hide-modal" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="employee-form">
                        <input type="hidden" name="id" id="id">
                        <div class="mb-3">
                            <label for="name" class="form-label">Tên nhân viên:</label>
                            <input type="text" class="form-control" name="name" id="name">
                        </div>
                        <div class="mb-3">
                            <label for="dateOfBirth" class="form-label">Ngày sinh:</label>
                            <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth">
                        </div>
                        <div class="mb-3">
                            <label for="idCard" class="form-label">Số CMND/ CCCD:</label>
                            <input type="text" class="form-control" id="idCard" name="idCard">
                        </div>
                        <div class="mb-3">
                            <label for="salary" class="form-label">Lương:</label>
                            <input type="text" class="form-control" id="salary" name="salary">
                        </div>
                        <div class="mb-3">
                            <label for="phoneNumber" class="form-label">Số điện thoại:</label>
                            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" class="form-control" id="email" name="email">
                        </div>
                        <div class="mb-3">
                            <label for="address" class="form-label">Địa chỉ:</label>
                            <input type="text" class="form-control" id="address" name="address">
                        </div>
                        <div class="mb-3">
                            <label for="division" class="form-label">Bộ phận:</label>
                            <select class="form-select" id="division" name="division"></select>
                        </div>
                        <div class="mb-3">
                            <label for="position" class="form-label">Vị trí:</label>
                            <select class="form-select" id="position" name="position"></select>
                        </div>
                        <div class="mb-3">
                            <label for="educationDegree" class="form-label">Bằng cấp:</label>
                            <select class="form-select" id="educationDegree" name="educationDegree"></select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                    <button type="button" id="btn-submit" onclick="saveEmployee()" class="btn btn-danger">buttonSubmitName</button>
                </div>
            </div>
        </div>
    </div>
</section>

<nav th:fragment="paginationNav" class="pagination-wrap d-flex justify-content-center position-absolute w-100"
     aria-label="Page navigation">
    <ul class="pagination" th:unless="${employees.totalPages == 0}">
        <li class="page-item"><a class="page-link page-link-previous"
                                 th:href="@{'/furama-resort/employee'(page=${employees.number - 1}, search=${search})}">Cũ
            hơn</a>
        </li>
        <th:block th:each="p : ${#numbers.sequence(1, employees.totalPages)}">
            <li class="page-item">
                <a th:text="${p}" th:id="'page-link-' + ${p - 1}" class="page-link"
                   th:href="@{'/furama-resort/employee'(page=${p - 1}, search=${search})}"></a>
            </li>
        </th:block>
        <li class="page-item"><a class="page-link page-link-next"
                                 th:href="@{'/furama-resort/employee'(page=${employees.number + 1}, search=${search})}">Mới
            hơn</a>
        </li>
    </ul>
</nav>
</body>
</html>