body {
    padding: 50px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 20px;
}

th {
    font-family: 'Patua One', cursive;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    background-color: #d61b06;
    border-color: white;
}

td {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #5f6062;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
}

.hover {
    background: red;
}