<h3 class="display-6 text-center">Thêm mới nhân viên</h3>
<form class="clearfix">
  <div class="mb-3">
    <label for="name" class="form-label">Họ tên:</label>
    <input type="text" class="form-control" id="name" placeholder="Nhập họ tên..." name="name">
  </div>

  <div class="mb-3">
    <label for="position" class="form-label">Vị trí:</label>
    <select class="form-select" id="position" name="position">
      <option selected>-- Chọn vị trí --</option>
      <option value="1">Lễ tân</option>
      <option value="2">Phục vụ</option>
      <option value="3">Chuyên viên</option>
      <option value="4">Giám sát</option>
      <option value="5">Quản lý</option>
      <option value="6">Giám đốc</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="education-degree" class="form-label">Trình độ:</label>
    <select class="form-select" id="education-degree" name="education-degree">
      <option selected>-- Chọn trình độ --</option>
      <option value="1">Trung cấp</option>
      <option value="2">Cao đẳng</option>
      <option value="3">Đại học</option>
      <option value="4">Sau đại học</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="division" class="form-label">Bộ phận:</label>
    <select class="form-select" id="division" name="division">
      <option selected>-- Chọn bộ phận --</option>
      <option value="1">Phục vụ</option>
      <option value="2">Sale - Marketing</option>
      <option value="3">Hành chính</option>
      <option value="4">Quản lý</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="birthday" class="form-label">Ngày sinh:</label>
    <input type="date" class="form-control" id="birthday" name="birthday">
  </div>

  <div class="mb-3">
    <label for="id-card" class="form-label">Số CMND/ CCCD:</label>
    <input type="text" class="form-control" id="id-card" placeholder="Nhập số CMND/ CCCD..." name="id-card">
  </div>

  <div class="mb-3">
    <label for="phone" class="form-label">Số điện thoại:</label>
    <input type="text" class="form-control" id="phone" placeholder="Nhập số điện thoại..." name="phone">
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Email:</label>
    <input type="email" class="form-control" id="email" placeholder="Nhập email..." name="email">
  </div>

  <div class="mb-3">
    <label for="address" class="form-label">Địa chỉ:</label>
    <input type="text" class="form-control" id="address" placeholder="Nhập địa chỉ..." name="address">
  </div>

  <button type="button" class="btn btn-primary float-end">Thêm</button>
</form>
