* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    font-size: 14px;
}

main {
    display: block;
    width: 600px;
    margin: auto;
    padding: 20px 40px;
}

table {
    width: 100%;
}

table caption {
    font-weight: bold;
    font-size: 24px;
    color: blue;
    margin-bottom: 24px;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid gray;
}

table thead tr:first-child {
    background-color: orange;
    color: white;
}

table thead tr:first-child th:first-child {
    background-color: red;
}

table thead tr:first-child th:last-child {
    background-color: blue;
}

table thead tr th,
table thead tr td {
    padding: 5px 8px;
    border: 1px solid white;
}

table thead tr td {
    text-align: center;
    border-bottom: 1px solid gray;
}

table tbody tr td {
    width: calc(100% / 7);
    text-align: center;
    padding: 8px 10px;
}

table tr td:first-child {
    color: red;
}

table tr td:last-child {
    color: blue;
}

table tr td sub {
    color: black;
}