<main class="container-fluid mt-3 py-3 bg-body-tertiary">
  <h3 class="display-6 text-center">Thêm mới khách hàng</h3>
  <form class="clearfix">
    <div class="mb-3">
      <label for="customer-type" class="form-label">Loại khách hàng:</label>
      <select class="form-select" id="customer-type" name="customer-type">
        <option selected>--Chọn loại khách hàng--</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="name" class="form-label">Họ tên:</label>
      <input type="text" class="form-control" id="name" placeholder="Nhập họ tên..." name="name">
    </div>

    <div class="mb-3">
      <label for="birthday" class="form-label">Ngày sinh:</label>
      <input type="date" class="form-control" id="birthday" name="birthday">
    </div>

    <div class="mb-3">
      <label for="id-card" class="form-label">Số CMND/ CCCD:</label>
      <input type="text" class="form-control" id="id-card" placeholder="Nhập số CMND/ CCCD..." name="id-card">
    </div>

    <div class="mb-3">
      <label for="phone" class="form-label">Số điện thoại:</label>
      <input type="text" class="form-control" id="phone" placeholder="Nhập số điện thoại..." name="phone">
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Nhập email..." name="email">
    </div>

    <div class="mb-3">
      <label for="address" class="form-label">Địa chỉ:</label>
      <input type="text" class="form-control" id="address" placeholder="Nhập địa chỉ..." name="address">
    </div>

    <button type="button" class="btn btn-primary float-end">Thêm</button>
  </form>
</main>
