<h3 class="display-6 text-center">{{formCreateUpdateTitle}}</h3>
<form class="clearfix" [formGroup] = 'createForm' (ngSubmit)="submit()">
  <div class="mb-3">
    <label for="id" class="form-label">ID:</label>
    <input type="text" readonly class="form-control disabled" id="id" formControlName="id" placeholder="(New)">
  </div>
  <div class="mb-3">
    <label for="customer-type" class="form-label">Loại khách hàng:</label>
    <select class="form-select" id="customer-type" formControlName="customerType">
      <option selected disabled>-- Chọn loại khách hàng --</option>
      <option *ngFor="let ct of customerTypes" [value]="ct.id">{{ct.name}}</option>
    </select>
  </div>
  <div class="alert alert-danger"
       *ngIf="createForm.get('customerType').invalid && createForm.get('customerType').touched">
    Chưa chọn loại khách hàng.
  </div>

  <div class="mb-3">
    <label for="name" class="form-label">Họ tên:</label>
    <input type="text" class="form-control" id="name" placeholder="Nhập họ tên..." name="name" formControlName="fullName">
  </div>

  <div class="mb-3">
    <label for="birthday" class="form-label">Ngày sinh:</label>
    <input type="date" class="form-control" id="birthday" name="birthday" formControlName="birthday">
  </div>
  <div class="alert alert-danger"
       *ngIf="createForm.hasError('babyBoy', 'birthday') && createForm.get('customerType').touched">
    Chưa đủ tuổi pé ơi.
  </div>

  <div class="mb-3">
    <label for="id-card" class="form-label">Số CMND/ CCCD:</label>
    <input type="number" class="form-control" id="id-card" placeholder="Nhập số CMND/ CCCD..." name="id-card" formControlName="idCard">
  </div>

  <div class="mb-3">
    <label for="phone" class="form-label">Số điện thoại:</label>
    <input type="number" class="form-control" id="phone" placeholder="Nhập số điện thoại..." name="phone" formControlName="phone">
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Email:</label>
    <input type="email" class="form-control" id="email" placeholder="Nhập email..." name="email" formControlName="email">
  </div>
  <div class="alert alert-danger"
       *ngIf="createForm.get('email').invalid && createForm.get('customerType').touched">
    Email chưa đúng định dạng.
  </div>

  <div class="mb-3">
    <label for="address" class="form-label">Địa chỉ:</label>
    <input type="text" class="form-control" id="address" placeholder="Nhập địa chỉ..." name="address" formControlName="address">
  </div>

  <button [class.disabled]="createForm.invalid" type="submit" class="btn btn-primary float-end">{{btnFormCreateUpdateSubmitText}}</button>
</form>
