<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Song List</title>
</head>
<body>
<h3>List of Songs</h3>
<p>
    <a th:href="@{/create}" th:text="'Add new song'"></a>
</p>
<table th:border="1">
    <thead>
    <tr>
        <th>Serial</th>
        <th>Name</th>
        <th>Author</th>
        <th>Play</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="song, songStat : ${songs}" th:object="${song}">
        <td th:text="${songStat.count}"></td>
        <td th:text="*{name}"></td>
        <td th:text="*{author}"></td>
        <td>
            <audio controls>
<!--                <source th:src="@{*{fileName}}" th:type="'audio/mpeg'">-->
                <source th:src ="*{fileName}" type="audio/mpeg">
            </audio>
        </td>
        <td><a th:href="@{/edit/{id}(id=*{id})}" th:text="'Edit'"></a></td>
    </tr>
    </tbody>
</table>
</body>
</html>