main {
    margin: auto;
    width: 500px;
}

h1  {
    text-align: center;
}

table, th, td {
    border: 1px solid #000000;
    border-collapse: collapse;
    padding: 4px 8px;
}

table {
    width: 80%;
    margin: auto;
}

thead {
    background-color: yellow;
}

th {
    width: calc(100% / 3);
}

