header {
    display: flex;
    height: 56px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
}

#header_left {
    padding-left: 8px;
}

.header_left__item {
    float: left;
}

#header_logo {
    float: left;
    margin-right: 8px;
}

#header_logo a {
    line-height: 100%;
    color: #1b74e4;
    font-size: 40px;
}

#header_search {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #f0f2f5;
    border-radius: 25px;
    padding: 8px;
}

#header_search #header_search_icon {
    display: inline-block;
    color: #939599;
    font-size: 16px;
    margin-right: 8px;
    padding-left: 4px;
}

#header_search form {
    display: inline-block;
}

#header_search form input {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 15px;
}

#header_mid {
    margin-top: -4px;
    padding: 0 64px;
}

#header_mid ul li {
    display: inline-block;
    text-align: center;
    position: relative;
    width: calc(100% / 5);
    float: left;
}

#header_mid ul li.header_mid--selected a {
    color: #1b74e4;
}

#header_mid ul li.header_mid--selected::after {
    display: inline-block;
    position: absolute;
    content: "";
    width: 100%;
    top: 49px;
    left: 0;
    height: 3px;
    background-color: #1b74e4;
}

#header_mid ul li a {
    display: inline-block;
    color: #939599;
    font-size: 20px;
    line-height: 48px;
    width: 100%;
    border-radius: 4px;
}

#header_mid ul li a:hover {
    cursor: pointer;
    background-color: #f0f2f5;
}

#header_mid ul li.header_mid--selected a:hover {
    cursor: pointer;
    background-color: white;
}

#header_right {
    padding-right: 8px;
}

#header_right ul {
    display: inline-block;
    float: right;
    height: 100%;
}

#header_right ul li {
    display: inline-flex;
    width: 40px;
    height: 40px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
    margin-left: 8px;
    border-radius: 50%;
}

#header_right ul li:hover {
    cursor: pointer;
    background-color: #e4e6eb;
}

main {
    margin-top: 72px;;
}

main #left {
    padding-right: 48px;
}

main .left_item {
    padding-top: 0;
    padding-bottom: 0;
}

main .left_item h4 {
    padding: 16px 8px 8px 8px;
    color: #939599;
}

main .left_item:first-child:after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: #e4e6eb;
    margin-top: 8px;
}

main .left_item li{
    border-radius: 8px;
    padding-left: 8px;
}


main .left_item li:hover{
    background-color: rgba(0, 0, 0, 0.08);
}

main .left_item li a{
    height: 44px;
    display: flex;
    align-items: center;
    color: black;
}

main .left_item_icon {
    font-size: 21px;
    margin-right: 8px;
    color: #1b74e4;
}

main .left_item_icon.left_item_icon__chevron-down {
    color: black;
    border-radius: 50%;
    background-color: #e4e6eb;
    width: 30px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

main #left_footer {
}

main #left_footer ul li {
    display: inline-flex;
}

main #left_footer ul li:after {
    display: inline-block;
    content: ".";
    margin-left: 3px;
}

main #left_footer ul li:last-child:after {
    content: "";
}

main #left_footer ul li, main #left_footer ul li a {
    color: #939599;
    font-size: 12px;
}

main #left_footer ul li a:hover {
    text-decoration: underline;
}

main #left_footer__see-more {
    cursor: pointer;
}

main #mid-wrapper {
    padding: 0 64px;
    margin-top: 8px;
}

main #mid {
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 2px solid rgba(0,0,0,0.08);
}

main #mid_news__heading {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 16px;
}

main #mid_news__heading ul li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    padding-right: 4px;
    border-radius: 8px;
}

main #mid_news__heading ul li.mid_news__heading--selected {
    color: #1b74e4;
    position: relative;
}

main #mid_news__heading ul li.mid_news__heading--selected:after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #1b74e4;
    position: absolute;
    top: 54px;
    left: 0;
}

main #mid_news__heading ul li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

main #mid_news__heading ul li.mid_news__heading--selected:hover {
    cursor: pointer;
    background-color: white;
}

main #mid_news__heading ul li .mid_news__heading_icon {
    font-size: 24px;
    margin-right: 8px;
}

main #mid_news__heading ul li .mid_news__heading_text {
    font-size: 16px;
}

main #mid_news__content