<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog Create</title>
</head>
<body>
<h3>Add New Blog</h3>
<p>
    <a th:href="@{/blog}">Return to List</a>
</p>
<form th:action="@{/blog/create}" method="post" th:object="${blog}">
    <input type="hidden" th:field="*{id}">
    <table>
        <tr>
            <td>Title: </td>
            <td><input type="text" th:field="*{title}"></td>
        </tr>
        <tr>
            <td>Content: </td>
            <td><textarea th:field="*{content}"></textarea></td>
        </tr>
        <tr>
            <td>Author</td>
            <td><input type="text" th:field="*{author}"></td>
        </tr>
        <tr>
            <td>Category</td>
            <td>
                <select th:field="*{category}">
                    <option th:each="c: ${categoryList}" th:value="${c.id}" th:text="${c.name}"></option>
                </select>
            </td>
        </tr>
    </table>
    <input type="hidden" th:field="*{publicDate}">
    <input type="hidden" th:field="*{modifiedDate}">
    <input type="submit" value="Save">
</form>
<p th:if="${message}">
<p th:text="${message}"></p>
</p>
</body>
</html>