html, body {height: 100%}

.sidebar {
    height: calc(100% - 120px);
    padding-bottom: 60px;
    width: 180px;
}

.footer {
    height: 56px;
    padding: 8px;
}

.content {
    height: calc(100% - 120px);
    padding: 16px 16px 60px;
    width: calc(100% - 184px);
    margin-left: 4px;
    margin-top: 4px;
}

.pagination-wrap {
    bottom: 50px;
}