* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman";
    font-size: 14px;
}

form {
    width: 220px;
    margin: 50px auto;
    border: 1px solid #dedede;
    padding: 20px 20px;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 8px;
}

label, legend {
    display: block;
    margin-bottom: 2px;
    font-weight: bold;
}

input {
    padding: 2px 4px;
}

fieldset {
    border: none;
}

.gender-list li {
    float: left;
}

.gender-list li label {
    font-weight: unset;
    display: inline-block;
    margin-right: 16px;
}

.button-container input {
    background-color: white;
    padding: 2px 12px;
    border-radius: 4px;
    border: 1px solid #dedede;
    box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}