<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout :: head}"></head>
<body>
<h3>View Customer</h3>
<p>
    <a th:href="@{/customer}">
        Back to customer list
    </a>
</p>
<div th:object="${customer}">
    <table th:border="1">
        <tr>
            <td>Name</td>
            <td th:text="*{name}"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td th:text="*{email}"></td>
        </tr>
        <tr>
            <td>Address</td>
            <td th:text="*{address}"></td>
        </tr>
    </table>
</div>
<footer th:replace="~{/layout :: footer}"></footer>
</body>
</html>