<h3 class="display-6 text-center">Danh sách khách hàng</h3>

<div class="clearfix">
  <form class="d-flex float-start mb-4" role="search">
    <input class="form-control me-2" type="search" id="search-input" placeholder="Search" #searchInput
           aria-label="Search">
    <button class="btn btn-outline-primary w-45" type="button" (click)="search(searchInput.value)">Tìm kiếm</button>
  </form>
  <button class="btn btn-outline-primary float-end" (click)="showCreateForm()">Thêm mới
  </button>
</div>


<table class="table table-bordered">
  <thead>
  <tr class="text-center">
    <th scope="col">
      <div class="form-check">
        <input class="form-check-input" #idsValue type="checkbox" id="ids" (click)="idsClick(idsValue.checked)">
      </div>
    </th>
    <th scope="col">Họ tên</th>
    <th scope="col">Ngày sinh</th>
    <th scope="col">Số CMND/ CCCD</th>
    <th scope="col">Điện thoại</th>
    <th scope="col">Email</th>
    <th scope="col">Địa chỉ</th>
    <th scope="col">Loại khách hàng</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customers">
    <td>
      <div class="form-check">
        <input class="form-check-input ids-item" name="ids-item" [value]="customer.id" type="checkbox"
               (click)="idsItemClick($event)">
      </div>
    </td>
    <td>{{customer.fullName}}</td>
    <td>{{customer.birthday | date: 'dd/MM/yyyy'}}</td>
    <td>{{customer.idCard}}</td>
    <td>{{customer.phone}}</td>
    <td>{{customer.email}}</td>
    <td>{{customer.address}}</td>
    <td>{{customer.customerType.name}}</td>
    <td>
      <button class="btn btn-outline-primary float-end" (click)="edit(customer.id)">Chỉnh sửa</button>
    </td>
  </tr>
  </tbody>
</table>
<button class="btn btn-outline-danger" (click)="deleteItems()" data-bs-toggle="modal"
        data-bs-target="#modal">Xóa tất cả
</button>

<div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modal-label">Xác nhận xóa</h1>
        <button type="button" class="btn-close" id="btn-close-modal" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{deleteCustomersConfirmBody}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
        <button type="button" class="btn btn-primary" id="btn-agree-modal" (click)="delete()">Xóa</button>
      </div>
    </div>
  </div>
</div>

