* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    margin: auto;
    width: 700px;
}

h1  {
    margin: 8px 0;
    text-align: center;
    font-family: Arial;
    color: blue;
    font-weight: unset;
}

ul {
    list-style: none;
    width: 100%;
    margin-top: 8px;
    font-family: Arial;
    font-size: 14px;
    padding: 0px 24px;
}

ul li {
    width: 50%;
    float: left;
    padding: 0;
    margin: 4px 0;
    color: blue;
}

ul li:nth-child(even) {
    text-align: right;
}

table, th, td {
    border: 1px solid #000000;
    border-collapse: collapse;
    padding: 4px 8px;
}

table {
    width: 100%;
    margin: auto;
    table-layout: auto;
}

thead tr:first-child th {
    background-color: yellow;
}

thead tr:first-child th:first-child {
    background-color: unset;
}

thead tr:last-child {
    background-color: orange;
}

thead tr:first-child th {
    width: 20%;
}

thead tr:first-child th:first-child {
    width: 40%;
}

tbody td:first-child {
    text-align: center;
}

